*, html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.bg {
    background: rgba(248, 248, 248, 0.8) url("../images/slider3.jpg") no-repeat fixed center top / cover;
}

header {
    background: transparent;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

header.stick {
    background-color: #40c4ff;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}  

header .navbar-brand a {
    font-size: larger;
}

header a {
    color: white;
}

header.single a {
    color: black;
}

header .navbar-brand a:hover {
    text-decoration: none;
    color: white;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

header nav a {
    margin-left: 30px;
    transition: all 0.3s ease-in;
}

header nav a:hover {
    text-decoration: none;
    color: #40c4ff;
}

/* ====================================================
================= SECTION =============================*/

section {
    margin-bottom: 50px;
}

/*============================================================
================ ONBOARDING =================================*/

.onboard {
    padding: 80px 0;
    color: white;
}

.onboard span {
    color: #40c4ff;
}

.onboard button, .onboard input.btn {
    padding: 10px 30px;
    margin-top: 10px;
}

.onboard .modalbtn {
    margin-right: 10px;
}

.onboard .modalbtn:hover {
    background: transparent;

}

.onboard .form-group {
    margin: 20px;
}

.onboard .modal{
    color: rgba(0, 0, 0, 0.7);
}

.onboard .help-block {
    color: red;
}

/*================================================================
============== posts ===========================================*/

.about img {
    width: 100%;
}
 
.news .news-item {
    border-radius: 7px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.212);
    margin-bottom: 30px;
}

.news .news-item .caption {
    padding: 20px;
}

.news img {
    width: 100%;
}

.news .btn {
    border: 1px solid #444;
    border-radius: 30px;
    color: #444;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}
  
.news .btn:hover {
    background-color: #40c4ff;
    color: #fff;
    border: none;
}

/* =============================================================
====================  SINGLE POST  ==============================*/

.single img {
    width: 100%;
}

.single .side-posts .btn {
    width: 100%;
    text-align: center;
    color: inherit;
}

.single .side-posts .btn:hover {
    background-color: #40c4ff;
    height: 50px;
}

