*, html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    text-decoration: none;
}

.bg {
    background: rgba(248, 248, 248, 0.8) url("../images/slider10.jpg") no-repeat fixed center top / cover;
}

header {
    background: transparent;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

header.stick {
    background-color: #40c4ff;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}  

header .navbar-brand a {
    font-size: larger;
}

header a {
    color: white;
}

header.single a {
    color: black;
}

header .navbar-brand a:hover {
    text-decoration: none;
    color: white;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

header nav a {
    margin-left: 30px;
    transition: all 0.3s ease-in;
}

header nav a:hover {
    text-decoration: none;
    color: #40c4ff;
}

/* ====================================================
================= SECTION =============================*/

section {
    margin-bottom: 50px;
}

/*============================================================
================ ONBOARDING =================================*/

.onboard {
    text-align: center;
    padding: 80px 0;
    color: white;
}

.onboard span {
    color: #40c4ff;
}
/*================================================================
============== posts ===========================================*/

.about img {
    width: 100%;
}
 
.news .news-item {
    border-radius: 7px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.212);
    margin-bottom: 30px;
}

.news .news-item .caption {
    padding: 20px;
}

.news img {
    width: 100%;
    height: 250px;
}

.news .btn {
    border: 1px solid #40c4ff;
    border-radius: 30px;
    color: #444;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}
  
.news .btn:hover {
    background-color: #40c4ff;
    color: #fff;
    border-color: #40c4ff;
}

/* =============================================================
==================== CONTACT ==============================*/

.contact form {
    padding: 40px;
    border-radius: 7px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.212);
}

.contact input {
    padding: 15px;
    padding-left: 20px;
}

.contact textarea {
    min-height: 200px;
}

.contact .btn {
    border: 1px solid #40c4ff;
    border-radius: 30px;
    color: #444;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}
  
.contact .btn:hover {
    background-color: #40c4ff;
    color: #fff;
    border-color: #40c4ff;
}


.help-block {
    color: red;
}

/* =============================================================
====================  SINGLE POST  ==============================*/

.single .main-posts {
    margin-bottom: 40px;
}

.single .post-information h2 {
  color: #363636;
  font-size: 22px;
  text-transform: uppercase;
}

.single .post-information {
    padding: 20px 0;
}

.single .post-information .entry-meta span a {
    color: #444;
    display: inline-block;
    padding: 10px 0;
}
  
.single .post-information .entry-meta span a:hover {
    color: #40c4ff;
}

.single .main-posts .entry-meta {
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.single .main-posts .entry-meta span {
    margin-right: 10px;
    color: #444;
}

.post-information .entry-meta span i {
    padding: 0 10px;
}

.single .post-information .entry-content>p {
    color: #444;
}
    
.single img {
    max-width: 100%;
    height: 500px;
}


.single .comment-list .comments-heading h3, .single h3.comment-reply-title {
    border-bottom: 1px solid #e8e8e9;
    color: #444;
    font-size: 18px;
    margin: 0 0 20px;
    padding: 0 0 5px;
    text-transform: uppercase;
} 

.single .comment-list img {
    height: 40px;
}

.single .side-posts h4 {
    border-bottom: 1px solid #ddd;
    color: #444;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 15px;
    padding: 15px 10px;
    text-transform: uppercase;
}

.single .side-posts {
    background: #f9f9f9 none repeat scroll 0 0;
    margin-bottom: 30px;
    overflow: hidden;
    padding-bottom: 20px;
}

.single .side-posts img {
    height: auto;
    padding: 0 5px;
}

.single .side-posts .btn {
    width: 100%;
    text-align: center;
    color: inherit;
    height: 50px;
    margin-bottom: 20px;
}

.single .side-posts .btn:hover {
    background-color: #40c4ff;
}


.single .side-posts li {
    border-bottom: 1px solid #ddd;
    display: block;
  }

.single .side-posts h5 a {
    color: #444;
}

.single .side-posts h5 a:hover {
    color: #40c4ff;
}

.single .side-posts ul li a {
    color: #444;
    display: block;
    font-size: 14px;
    padding: 10px;
    text-transform: capitalize;
}  

/*==================================================================
==============CATEGORY ========================================*/

.single .entry-content .btn {
    border: 1px solid #40c4ff;
    border-radius: 30px;
    color: #444;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}
  
.single .entry-content .btn:hover {
    background-color: #40c4ff;
    color: #fff;
    border-color: #40c4ff;
}





/*==================================================================
============== reply ========================================*/

.reply .btn {
    border: 1px solid #40c4ff;
    border-radius: 30px;
    color: #444;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    font-size: small;
}
  
.reply .btn:hover {
    background-color: #40c4ff;
    color: #fff;
    border-color: #40c4ff;
}



/*==================================================================
============== FOOTER / COPYRIGHTS ========================================*/

.footer a, .copyrights p a {
    color: inherit;
}

.footer {
    padding-top: 20px;
    background-color: #40c4ff;
    color: #ffffff;
}


/*==================================================================
============== PRE LOADER ========================================*/

#preloader {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #FFF;
    z-index: 11000;
    position: fixed;
    display: block
}


#main-ld {
  width: 70px;
  height: 70px;
  overflow: hidden;
  position: absolute;
  top: calc(50% - 17px);
  left: calc(50% - 35px);
}
#loader {
  width: 70px;
  height: 70px;
  border-style: solid;
  border-top-color: #40c4ff;
  border-right-color: #40c4ff;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotate 3s ease-in-out infinite;
  transform: rotate(-200deg)
}
@keyframes rotate {
  0% { border-width: 10px; }
  25% { border-width: 3px; }
  50% { 
    transform: rotate(115deg); 
    border-width: 10px;
  }
  75% { border-width: 3px;}
  100% { border-width: 10px;}
}


/*===============================================
============ SCROLL TO TOP ====================*/


.dmtop.show {
    bottom: 10px;
}

.dmtop {
    background-color: #40c4ff;
    z-index: 100;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: fixed;
    bottom: -100px;
    border-radius: 3px;
    right: 10px;
    text-align: center;
    font-size: 28px;
    color: #ffffff !important;
    cursor: pointer;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}
